* {
  margin: 0px;
}

body {
  background-color: white;
}

.navbar {
  background-color: grey;
  width: 100%;

}

.naventry {
  background-color: grey;
  display: inline-block;
}

.naventry:hover {
  background-color: darkgrey;
}

.naventry a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 25px;
}

main {
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  min-width: 25%;
}

.questionContainer {
  background-color: lightgrey;
  border: 1px;
  margin-bottom: 20px;
  border-color: black;
  border-style: solid;
}

.questionContainer select {
  width: 100%;
}

.optionDiv {
  display: flex;
}